html {
	width:100%;
}

#reset {
	margin:10px auto;
	width:350px;
}

#container {
	margin:30px auto;
	height:800px;
	width:800px;
}

.small {
	float:left;
	margin:1px;
	background-color:#3366FF;
}

.small2 {
	float:left;
	margin:1px;
	background-color:#000000;
}

.small3 {
	float:left;
	margin:1px;
	background-color:#000000;
}

.newColor {
	background-color:#D63333;
}

.oldColor {
	background-color:#3366FF;
}
